.imagen{
    justify-content: center;
    width: 600px;
    height: auto;
    border-radius: 40px;
}
.titulo{
    color: white;
    background-color: black;
    text-align: center;
    margin: 0px;
    font-family: "Boldonse", system-ui;
}
.sub{
    color: black;
    margin-bottom: 0px;
    font-size: 30px;
    text-align: center;
}
.tex{
    margin-top: 0px;
    margin-left: 0px;
}
.container{
    display: grid;
    grid-template-columns: repeat (300px, 5%);
    gap: 10px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: justify;
    background-color: rgb(240, 240, 168);
    
}
.nav{
    display: flex;
    justify-content:center;
    gap: 15px;
    list-style: none;
    padding: 0;
    background: #333;
    padding: 10px;
    margin: 0px;
}
.nav li{
    padding: 10px 15px;
}
.nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.nav li:hover{
    background: #555;
    border-radius: 5px;
}

.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
  }
.container section .presentacion{
    font-family: "Boldonse", system-ui;
    font-size: 40px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
}
.form-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    font-style: 15px;
    text-align: center;
    font-size: 30px;
}
.selection{
    display: flex;
    justify-content: center;
}
.selection ul{
    font-size: 30px;
}
.logo{
    margin-left: 10px;
    width: 40px;
    height: auto;
}
.descripcion{
    font-size: 30px;
    text-align: center;
}